button:disabled,
button[disabled]{
  border: 1px solid #1890ff !important;
  background-color: #1890ff !important;
  color:#fff !important;
}


.ant-progress-text {
 
  color: rgb(51, 51, 51)!important;

  font-size: 1.35rem!important;
}

.ant-progress-steps-item {

  min-width: 30px!important;
  height: 1rem!important;
  background: #473b3b!important;

  }

  body {
    font-family: 'Kanit', sans-serif!important;
  }


  .ant-result-extra {
   
    text-align: left!important;
}

.insp-logo-frame {
  width: 200px;
  text-align:center;
  display: block;
  margin-right:auto;
  margin-left:auto;
  margin-top:150px;
  margin-bottom:auto;
  
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 height: 20%;
}
